<div class="text-center">

    <div class="device-grade">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h2>Ticket Saved Successfully</h2>

                <div class="text-center">
                    <h2><span class="fa fa-check-circle-o fa-fx" style="color: lawngreen"></span></h2>
                </div>

                <div class="text-center">
                    <span class="device-grade">{{ ticket.device_premium }}</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="row">
                <div class="col-sm-3">
                    <button ng-click="nextStepOne()" class="btn btn-info btn-block btn-base">New Ticket</button>
                </div>
                <div class="col-sm-3">
                    <button ng-click="goHome()" class="btn btn-default btn-block btn-base">All Tickets</button>
                </div>
            </div>
        </div>
    </div>


</div>