<h4>Basic Details</h4>
<hr/>
<form name="UserTicketForm" ng-submit="nextStepTwo()">

    <div class="form-group">
        <input type="text" required=""
               placeholder="Device Make"
               ng-model="ticket.device_make"
               class="form-control inmate-search-box"/>
    </div>

    <div class="form-group">
        <input type="text" required=""
               placeholder="Device Model"
               ng-model="ticket.device_model"
               class="form-control inmate-search-box"/>
    </div>

    <div class="form-group">
        <input type="text" required=""
               placeholder="Device Serial Number or IMEI"
               ng-model="ticket.serial_number"
               class="form-control inmate-search-box"/>
    </div>

    <div class="form-group">
        <input type="text" required=""
               placeholder="Device Price"
               ng-pattern="/^\d+(\.\d+)?$/"
               ng-model="ticket.device_price"
               class="form-control inmate-search-box"/>
    </div>

    <div class="form-group evaluate">
        <select class="form-control"
                required=""
                ng-model="ticket.gadget_category"
                ng-options="gadget as gadget.name for gadget in gadget_categories">
            <option value="">Select Device Category</option>
        </select>
    </div>

    <div class="form-group evaluate">
        <select class="form-control"
                required=""
                ng-model="ticket.vendor"
                ng-options="vendor as vendor.name for vendor in vendors">
            <option value="">Select Purchase Store</option>
        </select>
    </div>

    <div class="form-group">
        <input type="text" required=""
               placeholder="Receipt #"
               ng-model="ticket.device_receipt_id"
               class="form-control inmate-search-box"/>
    </div>


    <!---->

    <div class="form-group">
        <button ng-disabled="UserTicketForm.$invalid"
                class="btn search-btn back-btn pull-right"
                ng-click="nextStepTwo(ticket)">Next <span
                class="fa fa-chevron-right"></span></button>
    </div>
</form>